<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BTONE_LIBRARY_MANAGEMENT</title>
<script th:inline="javascript">
$(document).ready(function(){	
/*<![CDATA[*/
    var book =/*[[${list}]]*/ "book";
	var eventId= book.eventId;

	if(eventId === null){
		$("#selectType").val(null).prop("selected",true);
	}else{
		$("#selectType").val(eventId).prop("selected",true);
	}
	 
    console.log("book: ",book);
    console.log("eventId: ",eventId);
    /*]]>*/
    
});
</script>
<script>
	function update() {

		var vo = {
			goodsId : $("#goodsId").val(),
			goodsName : $("#goodsName").val(),
			goodsPrice : $("#goodsPrice").val(),
			goodsQuantity : $("#goodsQuantity").val(),
			eventId : $("#selectType option:selected").val(),
			goodsAgeLimit : $("#goodsAgeLimit option:selected").val()
		};		
		
		console.log(JSON.stringify(vo));

		$.ajax({
			url : "/admin/update.do",
			dataType : "json",
			type : "post",
			contentType : "application/json",
			data : JSON.stringify(vo),

			success : function() { //아래와 같은 데이터 형식으로 가져올거임!
				console.log("도서 수정 성공");
				alert(JSON.stringify('도서 수정을 완료!'));
				location.reload();

			},
			error : function(e) {
				console.log(e);
				alert(e);
			}

		});
	}
</script>
</head>
<div layout:fragment="content">
	<div class="content">
		<!-- Form Start -->
		<div class="container-fluid pt-4 px-4">
			<div class="row g-4">
				<div class="col-12">
					<div class="bg-secondary rounded h-100 p-4">
						<h6 class="mb-4">도서 수정</h6>
						<form>
							<div class="mb-3">
								<label for="goodsId" class="form-label">도서ID</label> <input
									type="text" class="form-control" id="goodsId"
									th:value="${list.goodsId}" disabled>
							</div>
							<div class="mb-3">
								<label for="goodsName" class="form-label">도서제목</label> <input
									type="text" class="form-control" id="goodsName"
									th:value="${list.goodsName }">
							</div>
							<div class="mb-3">
								<label for="goodsPrice" class="form-label">대여가격</label> <input
									type="text" class="form-control" id="goodsPrice"
									th:value="${list.goodsPrice }">
							</div>
							<div class="mb-3">
								<label for="goodsPrice" class="form-label">수량</label> <input
									type="text" class="form-control" id="goodsQuantity"
									th:value="${list.goodsQuantity }">
							</div>
							<label for="eventSelect" class="form-label">19세미만 관람여부</label> <select
								class="form-select mb-3" aria-label="Default select example"
								id="goodsAgeLimit">
								<option selected th:text="${list.goodsAgeLimit}"></option>								
								<option th:if="${list.goodsAgeLimit == 'y'}" th:text="n"></option>
								<option th:if="${list.goodsAgeLimit == 'n'}" th:text="y"></option>
								
							</select>
							<!-- 할인 정책 적용 -->
							<label for="eventSelect" class="form-label">할인적용</label> <select
								class="form-select mb-3" aria-label="Default select example"
								id="selectType" th:field="${event}">
								<option th:value= null th:text ="적용안함"></option>
								<option th:each="event : ${event}" th:value="${event.eventId}" th:text="${event.eventId}">
								
								
							</select>
							<div class="mb-3">
								<label for="formFile" class="form-label">도서이미지</label> <input
									class="form-control bg-dark" type="file" id="formFile">
							</div>

							<button type="button" class="btn btn-primary" onclick="update();">수정</button>
							<a href="/admin/list/books"><button type="button"
									class="btn btn-primary">목록</button></a>

						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Form End -->
	</div>
	<!-- Content End -->
	<!-- <!-- Back to Top -->
	<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
		class="bi bi-arrow-up"></i></a>
</div>
</html>