<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jincomp.jintest.web.jin.mapper.TestMapper">

	<resultMap type="com.jincomp.jintest.web.jin.vo.UploadVO" id="UploadVO">
		<result column="GOODS_ID" property="goodsId" />
		<result column="GOODS_IMAGE_FILE_NAME" property="goodsImageFileName" />
	</resultMap>

	<!-- 권한만 조회 -->
	<select id="getImageList" resultMap="UploadVO">
		select b.goods_id, bi.goods_image_file_name
		from edu.books b 
		inner join edu.books_image bi
		on b.goods_id = bi.goods_id;
	</select>

	<insert id="insertImage" parameterType="com.jincomp.jintest.web.jin.vo.UploadVO">
		INSERT INTO BOOK_IMAGE(goods_id, goods_image_file_name)
		VALUES(	#{goods_id}, #{goods_image_file_name} )
	</insert>

</mapper>