<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BTONE_LIBRARY_MANAGEMENT</title>
<style>
label {
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}

input {
	width: 200px;
}
</style>


<script th:inline="javascript">
	//주민번호 최대자리 입력시 다음 칸으로 바로 이동하는 뻥션
	$(document).ready(function() {
		$(".inputs").keyup(function() {
			if (this.value.length == this.maxLength) {
				$(this).next('.inputs').focus();
			}
		});
	});
</script>
</head>
<body>

	<div class="content">
		<div class="/adult/action">
			<h3>성인 인증</h3>
			<form action="/adult.do" method="post">
				<input type="hidden" id="userNo" name="userNo" value=""><br>
				<label for="userName">이름:</label> <input type="text" id="userName"
					name="userName"><br> <label for="userRegNo">주민등록번호:</label>
				<input class="inputs" type="text" id="userRegNo" name="userRegNo"
					maxlength="6"> - <input class="inputs" type="password"
					id="userRegNo1" name="userRegNo1" maxlength="7">
				<button type="submit">인증</button>

			</form>
			<!-- ${msg} -->
		</div>
	</div>
	<!-- content -->

</body>
</html>