<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BTONE_LIBRARY_MANAGEMENT</title>
<script th:inline="javascript">
	$(() => {
		$("#tabs").tabs();
	});
</script>
</head>
<div layout:fragment="content">
	<div class="content" id="tabs1">
		<h1 style="text-align: center">주문 내역</h1>
		<div class="fixedTable">
			<div class="fixedBox">
				<table>
					<thead id="tableHead">
						<tr>
							<th width='20px'></th>
							<th width='50px'>No</th>
							<th width='50px'>ID</th>
							<th width='200px'>책이름</th>
							<th width='200px'>가격</th>
							<th width='100px'>결제일</th>
							<th width='100px'>반납일</th>
						</tr>
					</thead>
					<tbody class="table" id="tableBody">
						<tr th:each="list : ${list}">
							<th width='20px'><input type="checkbox" name="check"
								th:value="${list.orderId}"></th>
							<th width='50px' th:text="${listStat.count}"></th>
							<th width='50px' th:text="${list.bookVo.goodsId}"></th>
							<th width='200px' th:text="${list.bookVo.goodsName}"></th>
							<th width='200px' th:text="${list.orderPrice}"></th>
							<th width='100px' th:text="${list.orderDate}"></th>
							<th width='100px' th:text="${list.orderDate}+7"></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
</html>