<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<div th:fragment="footerFragment">
	<div class="footer">
		<table>
			<tbody>
				<tr>
					<th><a href="">이용약관</a> <a href="">개인정보취급방침</a></th>
				</tr>
				<tr>
					<td>(주)비티원 서울특별시 성동구 연무장5가길7, E동 1207호 (성수역 현대테라스타워)</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</html>