<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BTONE_LIBRARY_MANAGEMENT</title>

</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="${errorCode.status}"> 오류 화면</h2>
    </div>
    <div>
        <p th:text="${errorCode.msg}"></p>
    </div>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>