<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BTONE_LIBRARY_MANAGEMENT</title>


<!-- 자동완성 기능을 위한 제이쿼리 라이브러리 -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:inline="javascript">
	$(() => {
		$("#tabs").tabs();
		/* new daum.Postcode({
	        oncomplete: function(data) {
	            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
	            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
	        }
	    }).open(); */
	    
	});
	
	function testPopUp(){
		var session =/*[[${session}]]*/ "${session}";
		
		const test = session.loginUser;
		const y = "y";
		const check = test.userAgeCheckYn;
		
		if(check===y){
			alert("이미 인증되어있습니다.");
		} else {
			alert("성인인증 창이 열립니다.");
			window.open("adult","testPopUp", "width=650, height=500, top=150, left=200");
		}
				
	}
	
	
	
	function AllBookListEvent() {
		$("#tableBody tr").each(function () {
			$(this).show();												
		});
	}
	
	function AvailableBookEvent(){
		$("#tableBody tr").each(function () {
			if($(this).children().eq(10).text() != 0 
					|| $(this).children().eq(8).text() == 0) {	// 숨겨진 대여자의 아이디가 존재하거나 수량이 0일 경우																
				$(this).hide();												
			}
		});
	}
</script>

<script th:inline="javascript">
function searchBook() {    

    var frmData = {
       "searchType" : $("#searchType option:selected").val(),
       "keyword" : $("input[name=keyword]").val()
    }

    if (frmData["searchType"] && frmData["keyword"]) { //검색 조건이 모두 입력된 경우 

       $.ajax({
            url : "main/getBooks.do",
            type : "POST",
            contentType : "application/json",
            data : JSON.stringify(frmData),
            success : function(data) {
               if (data.length > 0) {
                  var result = "";
                  $("#tableBody").empty();
					
                  for (i = 0; i < data.length; i++) {
                  	
                 	  	result += "<tr><th width='20px'><input type='checkbox' name='check' value='" + data[i].goodsId + "'></th>"
                      result += "<th width='50px'>" + (i + 1)  + "</th>"
                      result += "<th width='50px'>" + data[i].goodsId + "</th>"
                      result += "<th width='200px'>" + data[i].goodsName + "</th>"
                      result += "<th width='200px'>" + data[i].goodsPrice + "</th>"
                      result += "<th width='100px'>" + data[i].goodsDiscountPrice + "</th>"
                      if(data[i].eventStrDate) {	
                          result += "<th width='100px'>" + data[i].eventStrDate + "</th>"
                      } else {	// null일경우는 비워두도록
                      	result += "<th width='100px'></th>"
                      }
                      if(data[i].eventEndDate) {
                          result += "<th width='100px' id='eventEndDate" + i + "'>" + data[i].eventEndDate + "</th>"
                      } else {	// null일경우는 비워두도록
                      	result += "<th width='100px' id='eventEndDate" + i + "'></th>"
                      }
                      if(data[i].userId) {
                      	result += "<th width='100px' id='userId" + i + "' style='display:none'>" + data[i].userId + "</th>"	
                      } else {
                      	result += "<th width='100px' id='userId" + i + "' style='display:none'></th>"
                      }
                      result += "<th width='50px'>" + data[i].goodsQuantity  + "</th>"
                      
                      console.log(data[i].goodsAgeLimit);
                      if(data[i].goodsAgeLimit == 'y'){
                      	result += "<th width='50px'>성인이용가</th>"	
                      } else if(data[i].goodsAgeLimit == 'n') {
                      	result += "<th width='50px'>전체이용가</th>"                            	
                      } else {
                      	result += "<th width='50px'>미분류</th>"
                      }
                      
                      result += "</tr>"
                  }

                  $("#tableBody").append(result);
               } else {
                  alert("검색 결과가 없습니다.");
               }
               
               $("#allList").trigger("click");
            }
        });
    } else if (!frmData["keyword"]) { //키워드가 없을경우 
       location.reload(); // 전체 조회로 다시
    } else {
       alert("검색조건을 확인해주세요.");
    }
 }   
</script>

<script th:inline="javascript">
/*<![CDATA[*/
function user_auth(){
	var session =/*[[${session}]]*/ "${session}";
		
		const userNo = session.loginUser.userNo;
		
		const userAuth =session.userAuth;
		
		console.log("session: " + JSON.stringify(session));
		alert("userAuth : " + userAuth);
		alert("userNo : " + userNo);		
	
		if(userAuth === 'admin'){
			alert("이미 관리자 이십니다.");
			return;
		}
		  else {
			 $.ajax({	
				url : "/auth/edit/" + userNo,
				type : "post",
				success : function(data){
					if(data >= 1){
						alert("권한 변경 완료")
					} 		
					location.reload();
				}, error:  function (request, status, error){
					alert("권한 비어 있음. 관리자 문의")
				}
			});
		}
}
/*]]>*/
</script>


<script th:inline="javascript">
/*<![CDATA[*/
function rentBook() {    
	var rentBookList = [];
	var rentBookPriceList = [];
	var rentBookAgeLimit = [];
	var rentBookQuantity = [];


	var session = /*[[${session}]]*/ "${session}";
	
	const loginUser = session.loginUser;
	
	
	// 로그인 유저 정보가 없을 경우
	if(loginUser === undefined) {
		alert("로그인 후 이용 가능 합니다.");
		location.href = "/login";
	} else {
		const userNo = session.loginUser.userNo;
		const userAge = session.loginUser.userAgeCheckYn;
		
		$("#tableBody tr").each(function () {
			if($(this).find('input:checkbox[name=check]').is(":checked")) {
				rentBookList.push($(this).children().eq(2).text());
				rentBookPriceList.push($(this).children().eq(5).text());
				rentBookQuantity.push($(this).children().eq(8).text());
				rentBookAgeLimit.push($(this).children().eq(9).children().eq(0).text());
				
				// 성인인증 예외처리(대여 목록에 성인관람가가 있는경우)
				if($(this).children().eq(9).children().eq(0).text() == "성인이용가") {
					alert("해당 품목 (" + $(this).children().eq(2).text() + "(" +$(this).children().eq(3).text() + ")은 성인인증이 필요합니다." );
					if(userAge == 'n') {			// 성인인증이 되지않은 계정은 성인인증창으로 이동
						alert("해당 계정은 성인인증이 필요합니다.");
						location.href = '/adult';
					}
				}
				
				if($(this).children().eq(8).text() == '0') {	// 수량이 0인경우
					alert("선택 하신" + $(this).children().eq(2).text() + "(" +$(this).children().eq(3).text() +")은 수량이 없습니다.");
				}
			}
		});
		
		// 수량 예외처리
		var chkQuan = false;
		for(var idx in rentBookQuantity) {	// 수량 리스트에 대해 0인 항목이 하나라도 있으면 ajax를 타지않도록함
			if(idx == 0) {
				chkQuan = true;
			}
		}
		
		if(chkQuan) {
			alert(" 고른 책 중 수량이 없는 책이 있습니다. 책을 다시 선택해주세요.");
			location.href = "/";
		}	else {
			// 체크 목록이 있는 경우
			if (rentBookList.length > 0) {
				$.ajax({
					url : "main/rentBooks.do",
					type : "post",
					data : {
						"rentBookPriceList" : rentBookPriceList,
						"rentBookList" : rentBookList,
						"rentBookQuantityList" : rentBookQuantity,
						"rentBookAgeLimitList" : rentBookAgeLimit,
						"userNo" : userNo 
					},
					success : function(data) {
						
						// 실패에 값이 있다면
						if(typeof data.fail !== '') {
							for(var i = 0; i < data.fail.length; i++) {
								alert('책 ' + data.fail[i] + '을(를) 대여 하지 못했습니다.');	
							}
						}
						// 성공에 값이 있다면
						if(typeof data.success !== '') {
							for(var i = 0; i < data.success.length; i++) {
								alert('책 ' + data.success[i] + '을(를) 대여 했습니다.');	
							}
						}
						
					},
					error : function(xhr, status, error) {
						alert("에러발생");
					}
				});
			// 체크된 값이 없을때
			} else {
				alert("대여 할 책을 고른뒤 대여 버튼을 눌러주세요.");		
			}	
		}		
	}	
}
</script>

<!-- 자동 완성 검색 기능 -->
<script>
	$(function(){ // 화면 다 뜨면 시작
		$("#search").autocomplete({
			source : function(request, response){
				$.ajax({
					type : 'POST',
					url : "/main/view/autocomplete",
					dataType : "json",
					data : {value : request.term},
					success: function(data){
						// 서버에서 json 데이터 response 후 목록에 추가
						response(
							$.map(data.resultList, function(item){ // json[i]번째에 있는게 item
								return{
									label: item.GOODS_NAME,
									value : item.GOODS_NAME,
									test : item+"test"
								} // return
							}) // map
						); // response
					} // success
				}); // ajax	
			}, // source 는 자동 완성 대상이다.
			select : function(event, ui){ // 아이템 선택 시
				console.log(ui); // 사용자가 오토컴플릿이 만들어준 목록에서 선택을 하면 반환되는 객체
				console.log(ui.item.label);
				console.log(ui.item.value);
				console.log(ui.item.test);
			},
			focus : function(event, ui){ // 포커스 가면
				return false; // 한글 에러 잡기용도로 사용
			},
			minLength: 1, // 최소 글자 수
			autoFocus: true, // 첫번째 항목 자동 포커스 기본값 false
			classes: {
				"ui-autocomplete" : "highlight"
			},
			delay: 500, // 검색창에 글자 써지고 나서 autocomplete 창 뜰 때 까지 딜레이 시간
			position:{
				my : "right top", at: "right bottom"
			},
			close : function(event){ // 자동완성창 닫아질 때 호출
				console.log(event);
			}
		}); // autocomplete
	}); // function

</script>

<!-- 검색창 클릭 시 레이어 영역 설정 및 검색 랭킹-->
<script th:inline="javascript">
	$(document).ready(function(){
		//검색창 클릭 시 검색 랭킹 레이어 열시
		$('#search').click(function(e){
			 e.stopPropagation();
			 $('#searchRankLayer').show();
		});
		
		// 검색 랭킹 레이어 바깥 클릭 시 닫기
	    $(document).click(function() {
	      $('#searchRankLayer').hide();
	    });
		
		// 검색 랭킹 조회
		$.ajax({
			url: 'main/list/search/rank',
			type: 'GET',
			dataType : 'json',
			success : function(data){
				console.log(data);
				$('#searchRankLayer').find('tbody').empty();
				$.each(data, function(index, value){
					$('#searchRankLayer').find('tbody').append(
						'<tr><td><a href="#" class="rank-word">' + value.bookPopwWord + '</td></tr>'
					);
				});
			}
		});
		
		// 검색 랭킹 단어 선택 시 검색창에 입력
	    $('#searchRankLayer').on('click', '.rank-word', function(e){
	        e.preventDefault();
	        var selectedWord = $(this).text();
	        $('#search').val(selectedWord);
	        $('#searchRankLayer').hide();
	    });
		
	}); //document
</script>

</head>

<div layout:fragment="content">
	<div class="container">
		<div id="tabs">
			<table width="100%">
				<tbody>
					<tr>
						<th style="width: 200px; text-align: left;">HOME</th>
						<td>
							<ul>
								<li><a id="allList" href="#tabs1"
									onclick="AllBookListEvent();">전체조회</a></li>
								<li><a id="rentList" href="#tabs1"
									onclick="AvailableBookEvent();">대여가능</a></li>
								<li><button type="button" onclick='user_auth();'>관리자
										등급 up</button></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- home tab -->
			<div class="content" id="tabs1">
				<div class="search_select">
					<select id="searchType" name="searchType">
						<!-- <option value="">--통합검색--</option> -->
						<option value="GOODS_NAME">도서명</option>
						<option value="GOODS_ID">도서ID</option>
						<option value="GOODS_PRICE">도서 가격</option>
					</select> 
						<div class="search_input">
							<input type="text" name="keyword" value="" id="search" placeholder="검색어를 입력하세요." autocomplete="off">
						</div>
							<!-- 아무것도 입력 안할 시 검색 랭킹  -->
							<div id ="searchRankLayer" style="display:none;">
							 	<h2>인기 검색어</h2>
							 	<table>
							 		<tbody>
							 			<tr th:each="ranking : ${searchBookRankList}">
							 				<td th:text="${ranking.bookPopwWord}"></td>
							 			</tr>
							 		</tbody>
							 	</table>
							</div>
					<button class="button color_sub" onclick="searchBook();">검색</button>
					<button class="button color_sub4" onclick="rentBook();">대여</button>
					<button type="button" onclick ="testPopUp()">성인인증</button> 
					 
					<div class="fixedTable">
						<div class="fixedBox">
							<table>
								<thead id="tableHead">
									<tr>
										<th width='20px'></th>
										<th width='50px'>No</th>
										<th width='50px'>ID</th>
										<th width='200px'>이름</th>
										<th width='200px'>가격</th>
										<th width='100px'>이벤트가</th>
										<th width='100px'>이벤트시작기간</th>
										<th width='100px'>이벤트종료기간</th>
										<th width='50px'>수량</th>
										<th width='50px'>성인물여부</th>
									</tr>
								</thead>
								<tbody class="table" id="tableBody">
									<tr th:each="list : ${list}">
										<th width='20px'><input type="checkbox" name="check"
											th:value="${list.goodsId}"></th>
										<th width='50px' th:text="${listStat.count}"></th>
										<!-- 반복상태 추적해주는  status변수 사용. list이름+Stat로 접근 -->
										<th width='50px' th:text="${list.goodsId}"></th>
										<th width='200px' th:text="${list.goodsName}"></th>
										<th width='200px' th:text="${list.goodsPrice}"></th>
										<th width='100px' th:text="${list.goodsDiscountPrice}"></th>
										<th width='100px' th:text="${list.eventStrDate}"></th>
										<th width='100px' th:text="${list.eventEndDate}"></th>
										<th width='50px' th:text="${list.goodsQuantity}"></th>
										<th width='50px' th:switch="${list.goodsAgeLimit}">
											<span th:case="y">성인이용가</span>
											<span th:case="n">전체이용가</span>
											<span th:case="*">미분류</span>
										</th>
										<th width='100px' style="display: none" th:text="${list.userId}"></th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- tab2 -->
				<!--  orders tab  -->
				<!-- tabs3 -->
				<!-- tab4 -->
			</div>
		</div>
	</div>
	<!-- popup  -->
	<div id="popupBox" title="테이블"></div>
</div>
</html>